<app-nav></app-nav>

<main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
        <img class="mr-3" src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-outline.svg" alt="" width="48"
            height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Accounts</h6>

            <small>Since 2011</small>
        </div>
    </div>

    <div *ngIf="!show" class="container" style="padding: 3rem 1.5rem;
    text-align: center;">

        <div class="starter-template">
            <h1>Let's Start</h1>
            <p class="lead">Add new account and manage your organizations.</p>
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Add Account
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email" #userEmail required>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Password" #userPwd required>
                        </div> 

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" ng-model="checkboxModel.value1" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                              Default checkbox
                            </label>
                          </div>

                        <!-- <div class="formGroup">
                            <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
                        </div>

                        <div class="formGroup">
                            <input type="password" class="formControl" placeholder="Password" #userPwd required>
                        </div> -->

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary"
                            (click)="accountsService.AddCompanyAndAccount(userEmail.value, userPwd.value, checkboxModel.value1)">Add</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div *ngIf="show" class="row">
        <div class="col-4">

            <div class="my-3 p-3 bg-white rounded shadow-sm">

                <h6 class="border-bottom border-gray pb-2 mb-0">Add Account</h6>
                <div class="media text-muted pt-3">

                    <form class="form-signin">
                        <div class="form-group">
                            <label for="inputEmail" class="sr-only">Email address</label>
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                                #userName required autofocus>
                        </div>

                        <div class="form-group">

                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                                #userPassword required>
                        </div>

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" value="remember-me"> Model 1
                                <input type="checkbox" value="remember-me"> Model 2
                            </label>
                        </div>

                        <!-- Calling SignIn Api from AuthService -->
                        <div class="formGroup">
                            <input type="button" class="btn btn-lg btn-primary btn-block" value="Log in"
                                (click)="authService.SignIn(userName.value, userPassword.value)">
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-8">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <!-- <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6> -->

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
                <small class="d-block text-right mt-3">
                    <a href="#">All updates</a>
                </small>
            </div>
        </div>
    </div>


</main>